.topic-top{
  overflow: hidden;
}
.topic-top a{
  float: right;
}
.goodCount{
    width: 80px;
    padding: 2px 3px ;
    text-align: center;
}
.goodCount p{
    padding-left: 5px;
    padding-right: 5px;
    color: #698ebf;
    background-color: #eff6fa;
    border-radius: 2px;
    display: inline-block;
}
.goodCount p:hover{
    background-color: #2d84cc;
    color: #fff;
}
.goodCount .active{
    background-color: #2d84cc;
    color: #fff;
}
.goodCount .active .up{
    border-bottom: 10px solid #fff;
}
.goodCount p .up{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #2d84cc;
}
.goodCount p:hover .up{
     border-bottom: 10px solid #fff;
}
.goodCount p:hover .down{
    border-top: 10px solid #fff;
}
.goodCount p .down{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #2d84cc;
}

.borders span {
    display: inline-block;
    padding-left: 22px;
    margin-right: 15px;
    line-height: 22px;
}
.like-count{
    float: left;
    background: url(../images/like.png) no-repeat 4px 6px;
}
.like-count:hover {
    background: url("../images/like.png") no-repeat 4px -24px;
    color: #395996;
}
.like-active{
    background: url("../images/like.png") no-repeat 4px -24px;
    color: #395996;
}
.CommentItem {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 12px 16px 10px;
    font-size: 15px
}

.CommentItem:not(:first-child):after {
    position: absolute;
    top: 0;
    display: block;
    width: calc(100% - 48px);
    border-bottom: 1px solid #f0f2f7;
    content: ""
}

.CommentItem-deletedContent {
    padding: 16px 0;
    font-size: 14px;
    color: #8590a6;
    text-align: center
}

.CommentItem-meta {
    position: relative;
    height: 27px;
    padding-right: 3px;
    padding-left: 1px;
    margin-bottom: 5px;
    line-height: 24px
}

.CommentItem-avatar {
    margin-right: 8px
}

.CommentItem-avatar .UserLink-avatar {
    vertical-align: top
}

.CommentItem-reply,
.CommentItem-roleInfo {
    color: #8590a6
}

.CommentItem-reviewing {
    margin-left: 8px
}

.CommentItem-reply {
    margin-right: 8px;
    margin-left: 8px
}

.CommentItem-roleInfo {
    margin-right: -8px
}

.CommentItem-time {
    float: right;
    font-size: 14px;
    color: #8590a6
}

.CommentItem-content {
    margin-bottom: 6px;
    line-height: 25px
}

.CommentItem-content p {
    margin: 0
}

.CommentItem-editor {
    margin-bottom: 8px
}

.CommentItem-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 24px;
    font-size: 14px;
    line-height: 24px
}

.CommentItem-footer .Button+.Button {
    margin-left: 24px
}

.CommentItem-footer .Button--plain:hover {
    color: #7a8599
}

.CommentItem-footer .Button--plain:hover .Icon {
    fill: #95a1ba
}

.CommentItem-hoverBtn {
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.CommentItem-likeBtn:disabled,
.CommentItem:hover .CommentItem-hoverBtn {
    opacity: 1
}

.CommentItem-likeBtn.is-liked {
    color: #0f88eb
}

.CommentItem-likeBtn.is-liked:hover {
    color: #0b6ab8
}

.CommentItem-likeBtn.is-liked .Icon,
.CommentItem-likeBtn.is-liked:hover .Icon {
    fill: currentColor
}

.CommentItem--highlighted {
    -webkit-animation: highlight 1.6s ease-out;
    animation: highlight 1.6s ease-out
}

.CommentTopbar {
    background: #fff;
    border-bottom: 1px solid #f0f2f7;
    border-radius: 2px
}

.CommentTopbar-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 16px
}

.CommentTopbar-meta .CommentTopbar-back {
    font-size: inherit;
    font-weight: inherit;
    color: inherit
}

.CommentTopbar-meta .CommentTopbar-back:hover {
    color: #3e7ac2
}

.CommentTopbar-meta .CommentTopbar-back .Icon {
    vertical-align: -2px;
    fill: currentColor
}

.CommentTopbar-title {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #1e1e1e
}

.CommentTopbar-tabsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.CommentTopbar-tabs {
    padding: 0;
    border-bottom: none
}

.CommentTopbar-tab {
    display: inline-block;
    padding: 0 20px
}

.CommentTopbar-tab:first-child {
    padding-left: 0
}

.CommentTopbar-tabButton {
    position: relative;
    height: 56px;
    border: none
}

.CommentTopbar-tabButton:hover {
    background: none
}

.CommentTopbar-switch {
    font-size: 14px;
    color: #175199;
    border-bottom: 1px solid #fff
}

.CommentTopbar-switch:hover {
    border-bottom: 1px solid #175199!important;
    cursor: pointer;
    line-height: 15px
}

.Comments,
.Comments-container {
    height: 100%
}

.Comments {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box
}

.Comments--hidden {
    display: none
}

.Comments-titleLink a {
    color: #175199
}

.Comments-titleLink a:hover {
    border-bottom: 1px solid rgba(62, 122, 194, .72)
}

.Comments-notification {
    position: absolute;
    top: -46px
}

.Comments-notificationWrapper {
    top: 82px
}

.Comments-notificationWrapper-bottom {
    top: 61px
}

.CommentList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    overflow-x: hidden;
    overflow-y: scroll
}

.CommentList-divider {
    position: relative;
    margin: 0 24px;
    font-size: 14px;
    color: #8590a6;
    text-align: center
}

.CommentList-divider:first-child {
    padding: 16px 0
}

.CommentList-divider+.CommentItem:after {
    content: none
}

.CommentList-divider a {
    color: #175199
}

.CommentList-divider a:hover {
    border-bottom: 1px solid rgba(62, 122, 194, .72)
}

.CommentList-dividerLine {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    margin: auto;
    border-top: 1px solid #ebeef5
}

.CommentList-dividerText {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 1em;
    background-color: #fff
}

.CommentList-dividerText .CommentList-questionMark {
    margin-left: 8px
}

.Comments-footer {
    padding: 12px 24px;
    background: #fff;
    border-top: 1px solid #ebeef5
}

.Comments-disabledText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 74px;
    color: #8590a6;
    background-color: #f7f8fa;
    border-top: 1px solid #f0f2f7;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.CommentList-action {
    position: relative;
    padding: 16px 0;
    text-align: center
}

.CommentList-action:after {
    position: absolute;
    top: 0;
    display: block;
    width: calc(100% - 48px);
    border-bottom: 1px solid #f0f2f7;
    content: ""
}

.CommentList-action a {
    color: #175199
}

.CommentList-action a:hover {
    border-bottom: 1px solid rgba(62, 122, 194, .72)
}

.Comments-withPagination {
    border: 1px solid #e7eaf2;
    box-shadow: 0 1px 3px 0 rgba(0, 33, 77, .05);
    background: #fff;
    margin-top: 12px;
    overflow: visible;
    border-radius: 4px
}

.Comments-withPagination .CommentList {
    overflow-y: visible
}

.comments-pagination {
    border-top: 1px solid #e7eaf1
}

.Comments-footer-withPagination .is-focus {
    width: 504px!important
}

.Comments-Packup-Button {
    background: rgba(231, 234, 241, .95);
    border-radius: 3px;
    position: fixed;
    height: 30px;
    width: 93px;
    bottom: 30px;
    left: 570px;
    font-size: 13px;
    color: #8590a6;
    letter-spacing: 0
}

.Comments-Packup-Button:hover {
    color: #7a8599
}

.Comments-Packup-Button .Icon {
    margin-left: 6px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.Comments-Packup-Button-enter,
.Comments-Packup-Button-leave {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.Comments-Packup-Button-enter {
    opacity: 0
}

.Comments-Packup-Button-enter-active,
.Comments-Packup-Button-leave {
    opacity: 1
}

.Comments-Packup-Button-leave-active {
    opacity: 0
}

.Comments-pattern-loading {
    height: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.topic-comment a{
color:#8590a6;
margin-right:25px;
}
.Input{
width: 100%;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
padding: 0;
overflow: hidden;
font-family: inherit;
font-size: inherit;
font-weight: inherit;
background: transparent;
border: none;
outline: none;
resize: none;
line-height: 24px;
background: #f7f8fa;
}
.Editable{
margin: 2px;
width: 100%;
padding: 8px;
background: #fff;
border: 1px solid #e7eaf1;
box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
border-radius: 3px;
box-sizing: border-box;
}
.CommentEditor-actions{
overflow: hidden;
}
.CommentEditor-actions button{
float: right;
margin-right: 10px;
background-color: #0f88eb;
color: #fff;
}
.CommentEditor-actions .quxiao{
background-color: #fff;
color: #0f88eb;
border:0;
padding-top: 6px;
}
.CommentItem-editor #comment-footer{
    float: left; width: 10%; margin-top: 5px;
 }
.CommentItem-editor #input-footer{
    float: left;width: 90%;
 }
.topic-time{
    display: inline-block;
    float: right;
 }
 .topic-huifu{
    padding-left: 5px;
    padding-right: 5px;
    color: #8590a6;
 }